.showcase{
    min-height: 90vh;
    background: linear-gradient(to right, rgba(23, 64, 153, 0.6), rgba(0, 255, 242, 0.6)),
    url('../images/showcase1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.showcase h1{
    text-transform: capitalize;
    font-size: 3.5em;
    margin: 10px 0;
}

.showcase p{
    font-size: 1.5em;
    margin: 10px 0;
}

.showcase .ctas span{
    background-color: #fff;
    border-radius: 3px;
    color: black;
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    width: 170px;
    text-transform: uppercase;
}

.showcase .ctas span:hover{
    transform: scale(1.05);
}

.Home .bottom{
    padding: 30px;
    text-align: center;
}

.Home .bottom h2{
    font-size: 2.0em;
    margin: 20px 0;
}

.center{
    background: linear-gradient(to right, rgb(23, 64, 153), rgb(0, 255, 242));
    color: white;
    text-align: center;
    padding: 50px;
}


.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    min-height: 200px;
    gap: 16px;
}

.service .text h3 {
    margin: 10px;
}
.service .text .MuiSvgIcon-root{
    color: rgb(68, 87, 128)!important;
    margin: 16px;
}
.reviews{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 250px;
}

.review{
    text-align: center;
    padding-top: 30px;
}