.Hostels {
    padding: 30px;
  }
  
  .Hostels .container {
    width: 80%;
    margin: auto;
  }
  
  .Hostels .container a {
    color: #333;
    text-decoration: none;
  }
  .Hostels .container .hostel {
    display: flex;
    background-color: #f9f9f9;
    margin: 16px;
  }
  .Hostels .container .hostel .hostelThumbnail {
    flex: 0.35;
  }
  .Hostels .container .hostel .hostelThumbnail img {
    width: 100%;
  }
  .Hostels .container .hostel .hostelDetails {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
  }
  