.ApplyOncampus {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding: 30px;
}
.relative{
  position: relative;
}
.ApplyOncampus a {
    text-decoration: none;
    color: #333;
}

.ApplyOncampus .hostelThumbnail {
    background-color: #f9f9f9;
    border: 1px solid #eee;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.ApplyOncampus .hostelThumbnail .text{
    background-color: #fefefe;
    padding: 25px;
}

.ApplyOncampus .hostelThumbnail .image img {
  object-fit: contain;
  width: 100%;
}
