.ApplyOffMain{
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}
.ApplyOffMain .form-group{
    margin : 1rem 0;
}

.fullDetails hr{
    /* width:70%;
    margin:0 auto; */
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}
.fullDetails{
    padding: 2rem;
}
.fullDetails .images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.fullDetails .images img{
    width: 100%;
}

.fullDetails form input{
    display: block !important;
}

.ApplyOffMain .houseThumb{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.ApplyOffMain .houseThumbContainer{
    display: flex;
    align-items: center;
    
}

.ApplyOffMain .houseThumbContainer .image{
    height: 220px;
    width: 300px;
    background-color: #ddd;
}
.ApplyOffMain .houseThumbContainer .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ApplyOffMain .houseThumbContainer .text{
    flex: 1;
    padding: 1rem;
}

.properties{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.ApplyOffMain .houseThumbContainer .properties .icon{
    background-color: #ddd;
    padding: .8rem;
    display: flex;
    margin: 0.5rem;
    border-radius: .5rem;
}

.ApplyOffMain .houseThumbContainer .price{
    font-size: 2rem;
}