.Apply{
    min-height : 90vh;
}

.Apply .top-section{
    display: flex;
    min-height: 60vh;
}

.Apply .bottom-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;    
    background: linear-gradient(to right, rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.704)),
    url('../images/check-app-status.jpg');
    background-size: cover;
    background-position:  0 -150px;
    background-repeat: no-repeat;
    color: white;
}

.Apply .left{
    background-color: red;
    flex: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.704)),
    url('../images/showcase.jpg');
    background-size: cover;
}

.Apply .right{
    background-color: yellow;
    flex: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.704)),
    url('../images/off-campus.jpg');
    background-size: cover;
}

.Apply .left, .Apply .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    color: #fff;
}

.Apply a{
    text-decoration: none;
}

.Apply .btn{
    background-color: cornflowerblue;
    color: white;
    padding: 16px 35px;
    margin-top: 20px;    
}

@media(max-width:680px){
    .Apply .top-section{
        display: block;
    }
    .Apply {
        text-align: center;
    }
    .Apply .top-section > div{
        min-height: 30vh;
    }

    .Apply h1{
        font-size: 1.3rem;
    }
    .Apply .bottom-section{
        background-position:center;
    }
}