.DashboardSideBar{
    background-color: #333;
    color: #ddd;
    height: 100vh;
    flex-basis: 200px;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.418);
    z-index: 5;
    border-top: 1px solid #ccc;
}



.sideMenu .sideMenu-links{
    list-style-type: none;
}

.sideMenu .sideMenu-links a{
    text-decoration: none;
    color: #fff;
}

.sideMenu .sideMenu-links li{
    padding: 20px 30px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.sideMenu .sideMenu-links li.dropdown_parent{
    display: block;
}


.sideMenu .sideMenu-links li .MuiSvgIcon-root{
    margin-right: 20px;
    color: #ccc;
}

.sideMenu .sideMenu-links li:hover{
    cursor: pointer;
    background-color: #111;
}

.sideMenu .sideMenu-links li li:hover{
    background-color: #333;
}