.NavBar{
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px #dbdbdb;
    height: 10vh;
    padding: 5px;
    position: sticky;
    top: 0;
    width: 100%;
}

.NavBar .headerLogo{
    height: 80% !important;
    object-fit: contain;
}

.NavBar a{
    height: 100%;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.NavBar .navLinks li{
    display: inline;
    list-style: none;
    margin-right: 20px;
}