.navbar {
  background-color: #fefefe;
  box-shadow: 0 2px 2px -2px #333333;
  height: 3.25rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px 30px;
}

.navbar .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container img {
  height: 80%;
  object-fit: contain;
}

ul li {
  display: inline;
  padding: 10px 20px;
  text-transform: uppercase;
}

ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.nav-icon {
  float: right;
  display: none;
}

.mobile-menu li {
  display: block;
  border-bottom: 1px solid #f9f9f9;
}

.mobile-menu li:hover {
  background-color: #f9f9f9;
}

.mobile-menu {
  display: none;
  transition: all 0.5s ease-in-out;
}
.show-mobile-menu {
  display: block;
}

@media (max-width: 550px) {
  .nav-icon {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
}
