.Requests{
    flex-grow: 1;
    min-height: 100vh;
    background-color: #f9f9f9;
}
.Requests h1{
    text-align: center;
    margin: 16px 0;
}



.Requests table{
    width: 95%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.Requests table tbody tr:nth-child(even){
    background-color: #eee;
}

.Requests table tbody tr td{
    padding: 5px !important;
    text-align: left;
}
.Requests table thead tr td{
    background-color: #eeeeee;
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
}

.accept{
    color: green;
}
.decline{
    color: red;
}
.info{
    color: cornflowerblue;
}