.ViewHostel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.952);
    color: #fff;
}

.ViewHostel .amenity{
    background-color: cornflowerblue;
    padding: 10px 20px;
    margin: 20px 10px;
    border-radius: 10px;
    display: inline-block;
}
.ViewHostel .viewHostelBody{
    padding: 30px;
    display: flex;
    margin-top: 30px;
}
.ViewHostel .viewHostelBody .images{
    padding: 30px;
    background-color: #fff;
    width: 45vw;
    flex: 45vw;
    color : #333333;
}

.ViewHostel .viewHostelBody .images .hostelPictures {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 10px; */
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 10px;
}

.ViewHostel .viewHostelBody .images .hostelPictures img{
    object-fit: contain;
    width: 300px;
}
.ViewHostel .viewHostelBody .text{
    width: 45vw;
}

.ViewHostel .viewHostelBody .btn{
    background-color: cornflowerblue;
    padding: 16px 25px;
    display: inline-block;
    margin: 20px 0;
    color: white;
}